.addPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
  margin-top: 25px;
  
  
  
}
.panelContact{
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 10px;
  border-radius: 8px;
}

.containPanel{
  
  background:  #f8f4f4;;
  height: 100%;
}
.button {
  
  height: 192px;
  display: flex;
  align-items: flex-end;
  
}
