.fab {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  position: absolute;
  right: 20px;
  bottom: 50px;
  cursor: pointer;
}
