.container {
  height: 100vh;
  position: relative;
  flex: 1;
}

.panel {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  height: calc(100vh - 100px);
  position: relative;
}

.sub-panel {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1;
  overflow: hidden;
}