.containHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-height: 30px;
  gap: 100px;
  max-height: 30px;
  margin-left: 12px;
  margin-right: 0px;
  
}
