
.viewContact-Container {
    flex: 1;
    overflow-y: auto;
  }
  
  .viewContactPanel {
  
    align-self: stretch;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  
    border-radius: var(--Radius-sm, 8px);
    background: var(--Colours-White, #fff);
  
  }
  
  .boxDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
    height: 80px;
  }
  
  .boxInfos {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: var(--Radius-sm, 8px);
    background: var(--Primary, #f00);
    height: 60px;
    width: 60px;
  }
  
  .doctorProfile {
    display: flex;
    flex-direction: column;
    padding: 18px 10px 18px 16px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
  
  .doctorProps {
    
      align-items: center;
      gap: 20px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: var(--Radius-sm, 8px);
      align-self: stretch;
      padding: 18px 10px 18px 16px;
      border: 1px solid black;
      border-radius: var(--Radius-xs, 4px);
      border: 1px solid var(--Colours-Grey-2, #e6e6e6);
    
  }
  
  .doctorPropsImg {
    padding-top: 3.2px;
  }
  