#root {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  min-width: fit-content;
}